TAoFI-Students
stm32l05x-glitching
.DS_Store
.venv
.vscode
.trunk
pull-sync.sh
__pycache__
*.sqlite
*.bin
*.log
*.org
*.dsl
*.egg-info
*.xcf
build
dist
docs/_build
docs/generated
docs/source
fritzing
schematics/fusion360
pypi.md
projects/genetic-test
schematics/kicad/pico-glitcher-v2-amplifier
schematics/kicad/pico-glitcher-v2-opamp-amplifier
schematics/kicad/pico-glitcher-v2-simulation
schematics/kicad/pico-glitcher-v2-extension/production
**/*backups
schematics/product
*.pdf
