[submodule "rd6006"]
	path = rd6006
	url = https://github.com/MKesenheimer/rd6006.git
[submodule "projects/rp2350-glitching/rp2350_hacking_challenge"]
	path = projects/rp2350-glitching/rp2350_hacking_challenge
	url = https://github.com/MKesenheimer/rp2350_hacking_challenge.git
[submodule "projects/stm8s-glitching/stm8-bootloader"]
	path = projects/stm8s-glitching/stm8-bootloader
	url = https://github.com/MKesenheimer/stm8-bootloader.git
